# Environments
.env

# Test files
test/test.txt
test/utils/config.json
artifacts.json

# Dependency directories
node_modules/

# Idea files
.idea/

# Temporary files
.eslintcache
.nyc_output
coverage
