# Environments
.env

# Test files
test/test.txt
test/integration/testFiles
log-files.txt

# Dependency directories
node_modules/

# Idea files
.idea/

# Temporary files
.eslintcache
.nyc_output
coverage
