name: Test
on: [push, pull_request]

# TODO: Enable macOS tests
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [10, 12]
        os: [ubuntu-latest, windows-latest]
    env:
      ENDPOINT: ${{ secrets.ENDPOINT }}
      USER: ${{ secrets.USER }}
      SCHEME: ${{ secrets.SCHEME }}
      VERSION: ${{ secrets.VERSION }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      SCHAIN_OWNER_PK: ${{ secrets.SCHAIN_OWNER_PK }}
      PRIVATEKEY: ${{ secrets.PRIVATEKEY }}
      FOREIGN_PRIVATEKEY: ${{ secrets.FOREIGN_PRIVATEKEY }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Node ${{ matrix.node }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    - name: Install dependencies
      run: |
        npm i
    - name: Lint with eslint
      run: |
        npm run lint
    - uses: actions/checkout@v2
      with:
        repository: skalenetwork/filestorage
        token: ${{ secrets.ACCESS_TOKEN }}
        ref: develop
        path: filestorage
    - name: Generate config
      run:
        bash scripts/generate_config.sh
    - name: Install SSH key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SSH_KEY }}
        known_hosts: $ENDPOINT
    - name: Generating test file, port
      if: matrix.os != 'windows-latest'
      run: |
        npm run generate
        export PORT=$((1000 + RANDOM % 64000))
        echo $PORT > PORT
        echo "sChain port: $PORT"
        bash scripts/run_remote_schain.sh
        while nc -z $ENDPOINT $PORT ; [ $? -ne 0 ]; do echo "Setup connection..."; sleep 5; done
        echo $SCHEME$ENDPOINT:$PORT > SKALE_ENDPOINT
    - name: Generating test file, port (win)
      if: matrix.os == 'windows-latest'
      run: |
        npm run generate-win
        $env:PORT=get-random -minimum 1000 -maximum 65000
        $env:PORT > PORT
        echo "sChain port: $env:PORT"
        bash scripts/run_remote_schain.sh
        while ((Test-NetConnection -ComputerName $env:ENDPOINT -Port $env:PORT).tcpTestSucceeded -ne $true) {echo "Setup connection..."; sleep 5}
        echo $env:SCHEME$env:ENDPOINT`:$env:PORT > SKALE_ENDPOINT
    - name: Unit testing
      if: matrix.os != 'windows-latest'
      run: |
        export SKALE_ENDPOINT=$(cat SKALE_ENDPOINT)
        npm test
        npm link; npm link @skalenetwork/filestorage.js
        npx mocha test/package
    - name: Unit testing (win)
      if: matrix.os == 'windows-latest'
      run: |
        $env:SKALE_ENDPOINT=cat SKALE_ENDPOINT 
        npm test
        npm link; npm link @skalenetwork/filestorage.js
        npx mocha test/package
    - name: Codecov
      run: |
        npm run coverage
    - name: Stop sChain
      if: matrix.os != 'windows-latest'
      run: |
        export PORT=$(cat PORT)
        bash scripts/clean_remote_schain.sh
    - name: Stop sChain (win)
      if: matrix.os == 'windows-latest'
      run: |
        $env:PORT=cat PORT
        bash scripts/clean_remote_schain.sh

# Fix browser testing
